<%include partials/_header%>

<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h6>Contacto</h5>
        </div>
    </div>


</div>

<div class="container">
    <div class="row">

        <div class="col-md-5">
            <p>Haga su consulta</p>
            <form action="/add" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="nombre" placeholder="Nombre">
            </div>
        
            <div class="form-group">
                <textarea class="form-control" name="mensaje" cols="80"
                    placeholder="Mensaje"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">
                    Enviar
            </button>
        </form>
            
        </div>

        <div class="col-md-5">
            <div class="card">
                <div class="card-body text-center">
                        <p>Estudio Ganem-Hessle</p> 
                        <br>
                        <p>Lima 234, Buenos Aires</p>
                        <br>
                        <p></p>
                </div>
            </div>           
        </div>
    </div>
    


<br>
<br>
<br>
<br>
<br>
<br>





<%include partials/_footer%>