<%include partials/_header%>


<header id="home-section">
    <div class="dark-overlay">
      <div class="home-inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 d-none d-sm-block">
              <h1 class="display-4"></h1>

              
            </div>
          </div>
        </div>
      </div>
    </div>
</header>


<br>
<br>
<br>

<div class="about container mt-5">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 style="color: dodgerblue">Bienvenidos a nuestro sitio</h1>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-6">
            <img class="img-fluid" src="img/beard-chair-computer-840996.jpg" alt="img">
        </div>
        
        <div class="col-md-6">
            <p style="margin: 0px 10px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi perferendis perspiciatis nisi, temporibus ab illum nemo rem nam vero odit autem cupiditate architecto dolorem, consequuntur neque, voluptatum voluptate aspernatur quae.<br/>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus assumenda culpa repudiandae magni! Maxime voluptatum repellendus in rerum, unde incidunt commodi quibusdam quaerat eligendi nostrum, aliquid saepe aut sit velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus assumenda culpa repudiandae magni! Maxime voluptatum repellendus in rerum, unde incidunt commodi quibusdam quaerat eligendi nostrum, aliquid saepe aut sit velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus assumenda culpa repudiandae magni! Maxime voluptatum repellendus in rerum, unde incidunt commodi quibusdam quaerat eligendi nostrum, aliquid saepe aut sit velit.quibusdam quaerat eligendi nostrum, aliquid saepe aut sit velit.</p>
        </div>
    </div>
</div>    

<br>
<br>
<br>





<%include partials/_footer%>