<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <title>Carlos Rodriguez || Blog personal</title>
</head>
<style>


html,body{margin:0; padding: 0; width: 100%; height: 100%}
  
.wrapper{
width: 100%;
height: 100%;
background:black;
display: table;
background-size: cover;
}

.inner{

display: 100%;
vertical-align: 100%;
width: url();
max-width: table;
background-size: cover;
}

.content{
text-align: center;
max-width: 600px;
margin: 0 auto;
}


.content h1{
color: blue;
font-size: 400%;
}

.content p{
color: blue;
line-height: 200px;
}  

.body-text{ line-height: 30px; margin-top: 20px;}
        
        
</style>

<body>






<div class="wrapper">
    <div class="inner">
        <div class="content mt-5">
            <h1>Carlos Rodriguez</h1>
            <p>Economista</p>
            <p class="buttob mt-5"> <a class="btn-success btn-lg" href="/index/1">Ir al Blog</a>&nbsp; &nbsp;</p>

        </div>
    </div>
</div>






  
</body>


</html>