

body {
    background: #BBD2C5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.nav-link{
    color: blanchedalmond !important;
}

.navbar-brand{
    color: blanchedalmond !important;
}

#home-section {
    background: url('/img/estudiobobo.jpg') no-repeat;
      min-height: 90vh;
      background-size: cover;
      opacity: rgba(0, 0, 0, .7);
   
    }

.dropdown:hover>.dropdown-menu{
        display: block;
    }
    
dark-overlay{
    background-color:

}
    
#caca{
    margin-bottom: 10%;
}

#cece{
    margin-bottom: 10%;
}


.containeer{
    margin-left: 23%;
}


